:root{
    --cinzaEscuro: #363636;
    --cinzaClaro: #D1CDCD
}
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 0px;
}
.toDo, .inProgress, .done{
    display:flex;
    flex-direction: column;
    border: 2px solid var(--cinzaClaro);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    min-width: 330px;
    max-width: 430px;
}
h1, h2{
    text-align: center;
    margin-top: 5px;
}
input[type="text"], select{
    display: block;
    outline: none;
    border: 2px solid var(--cinzaClaro);
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px;
    text-align: left;
    color: black;
    width: 400px;
    transition: .5s;
}
input[type="text"]:focus, select:focus{
    border-color: var(--cinzaClaro);
    box-shadow: 0 0 5px var(--cinzaEscuro);
}
button{
    display: block;
    outline: none;
    border: 2px solid var(--cinzaClaro);
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    padding: 10px 10px;
    text-decoration: none;
    width: 300px;
    transition: .5s;
}
button:hover{
    box-shadow: 0 0 5px var(--cinzaEscuro);
    width: 400px;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}
li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    font-weight: bold;
}
ul li div{
    display: flex;
    flex-direction: row;
}
a{
    display: block;
    border: 2px solid var(--cinzaEscuro);
    border-radius: 5px;
    margin-left: 10px;
    padding: 3px;
    font-weight: normal;
    text-align: center;
    width: 60px;
}
.arrow{
    width: 35px !important;
}